<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur">
    <xacro:arg name="initial_positions_file" default="$(find ur_description)/config/initial_positions.yaml" />
    <xacro:arg name="ur_type" default="ur5e" />

    <!-- Import ur urdf file -->
    <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro" />

   <!-- Import control_xacro 
    <xacro:include filename="$(find ur5_new_moveit_config)/config/ur.ros2_control_moveit.xacro" />
    <xacro:ur_ros2_control_moveit name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>-->
</robot>
